.content  {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightcoral;
    padding: 20px;
    width: 100%;
    text-align: center;
}

#display, #slider {
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

#lastNums {
    margin-bottom: 10px;
}
